body {
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  color: #333;
}
.header-nav {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}
.nav-link {
  color: #767676;
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin: 0 24px;
  transition: 0.2s ease-in;
  font-size: 18px;
  font-weight: 500;
  transform: translateY(-1px);
}
a{
    text-decoration: none;
}
